body, h1, h2, h3, p, ul 
{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}
.header
{
   display: flex;
   align-items: center; /*flex box is iffy, come back to this later !!*/
   justify-content: center;
   margin-top: 12px;
   margin-bottom: 12px; /*bottom spacer*/
   font-weight: 0; /* makes it skininy*/
   
}
.header a 
{
    color: black;
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    
}
.header a:hover
{
    text-decoration: underline;
}

.home-image
{
    max-width: 100%; /* Ensure the image does not exceed the width of its container */
    height: 60vh; /* Maintain the aspect ratio of the image */
    text-align: center;
    overflow: hidden;
    color: white;
    position: relative;
}
.home-image img 
{
    width: 100%; /* Make the image fill the width of its container */
    height: 60vh; /* Maintain the aspect ratio of the image */
    object-fit: cover;
    display: block; /* Remove extra space below the image */
    margin: 0 auto;
    
    
}

.centered-text
{
    position: absolute;
    font-size: 6vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 1px 3px 10px black;
}